APP_PORT = 
BASE_URL = http://localhost:<APP_PORT>/api/user-service
MODE = development

USER_SERVICE_DB_PORT = 
USER_SERVICE_DB_USERNAME = 
USER_SERVICE_DB_PASSWORD = 
USER_SERVICE_DB_NAME = 
USER_SERVICE_DB_HOST = 

JWT_ACCESS_TOKEN_SECRET = 